<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- boot strap dalunga yaha pe -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/s.css" />    
  <title>Vite App</title>
   <!-- aos from github -->
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <style>
    body {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
    }
  </style>
</head>
  <body>
   
    <nav class=" navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media.giphy.com/media/aN9GqoR7OD3nq/giphy.gif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Moon
    </a>
    <div class="nb dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
   Crater
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/crator1">Albategnius (131 km)</a></li>
    <li><a class="dropdown-item" href="/crator2">Langrenus (132 km)</a></li>
    <li><a class="dropdown-item" href="/crator3">Aristoteles (88 km)</a></li>
    <li><a class="dropdown-item" href="/crator4">Copernicus (96 km)</a></li>
    <li><a class="dropdown-item" href="/crator5">Fra Mauro (97 km)</a></li>
    <li><a class="dropdown-item" href="/">HOME</a></li>
    <li><a class="dropdown-item" href="/home">Craters</a></li>
  </ul>
</div>
  </div>
</nav>
    
<h1>Aristoteles</h1>
<div id="romeo">
    <img data-aos="fade-down"src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Petavius_crater_LROC.jpg/360px-Petavius_crater_LROC.jpg" alt="">
    <div data-aos="fade-down"id="juliet" class="text">
        <p>Petavius is a large lunar impact crater located to the southeast of the Mare Fecunditatis, near the southeastern lunar limb. Attached to the northwest rim is the smaller crater Wrottesley. To the southeast are Palitzsch, Vallis Palitzsch, and Hase. Farther to the north is the large crater Vendelinus. Petavius appears oblong when viewed from the Earth due to foreshortening. Petavius is Imbrian in age.</p>
    </div>
</div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 100,
    duration: 2000,
  });
</script>
    <script type="module" src="/main.js"></script>
  </body>
</html>
    