<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- boot strap dalunga yaha pe -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/s.css" />    
  <title>Vite App</title>
   <!-- aos from github -->
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <style>
    body {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
    }
  </style>
</head>
  <body>
   
    <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media.giphy.com/media/aN9GqoR7OD3nq/giphy.gif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Moon
    </a>

    <div class="nb dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
   Crater
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/crator1">Albategnius (131 km)</a></li>
    <li><a class="dropdown-item" href="/crator2">Langrenus (132 km)</a></li>
    <li><a class="dropdown-item" href="/crator3">Aristoteles (88 km)</a></li>
    <li><a class="dropdown-item" href="/crator4">Copernicus (96 km)</a></li>
    <li><a class="dropdown-item" href="/crator5">Fra Mauro (97 km)</a></li>
    <li><a class="dropdown-item" href="/">HOME</a></li>
    <li><a class="dropdown-item" href="/home">Craters</a></li>
  </ul>
</div>
  </div>
</nav>


    <div class="moon">
      <img src="https://media.giphy.com/media/i1iA5wwEuRQNq/giphy.gif" alt="">
      </div>

      <div class="kaam1">
        <a href="/crator1"><button>crator1</button></a>
        
      </div>
      <div class="kaam2">
        <!-- <button>crator2</button> -->
        <a href="/crator2"><button>crator2</button></a>
      </div>
      <div class="kaam3">
        <!-- <button>crator3</button> -->
        <a href="/crator3"><button>crator3</button></a>
      </div>
      <div class="kaam4">
        <!-- <button>crator4</button> -->
        <a href="/crator4"><button>crator4</button></a>
      </div>
      <div class="kaam5">
        <!-- <button>crator5</button> -->
        <a href="/crator5"><button>crator5</button></a>
      </div>

    

    <script type="module" src="jss/main.js"></script>
  </body>
</html>
